.torrent__page {
  margin: auto;
}
.torrent__loadMsgs p {
  text-align: center;
}
.torrents {
  margin-top: 0.8rem;
  width: 100%;
}
.message__cancel {
  flex-direction: column;
}
.message__cancel button {
  padding: 0.3rem;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 0.5rem;
}
.result__stats p {
  text-align: center;
}
.torrents__sites {
  list-style-type: none;
  gap: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-block: 3px solid white;
  flex-wrap: wrap;
}
.torrents__sites li {
  gap: 0.1rem;
  padding: 0.3rem;
  cursor: pointer;
  transition: all 300ms ease-in;
  border-radius: 0.2rem;
}
.torrents__sites li:hover {
  background-color: rgb(97, 96, 96);
}

.torrents__sites li.selected {
  font-weight: bold;
}
.torrents__list {
  list-style: none;
  display: grid;
  gap: 0.3rem;
  margin: auto;
  width: 80%;
}
.show__more button {
  padding: 0.3rem;
  background-color: lightgray;
  border-radius: 0.5rem;
  cursor: pointer;
}
.messages {
  margin-block: 0.8rem;
}
.message__cancel {
  margin-block: 0.8rem;
}
.message__cancel p {
  margin-block: 0.8rem;
}
@media screen and (max-width: 720px) {
  .torrents__list {
    max-width: 95%;
  }
}

@media screen and (max-width: 450px) {
  .torrents__list {
    max-width: 95%;
  }
}
