* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #404040;
  color: white;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
}
.loading {
  width: 100%;
}
@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
