* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #404040;
  color: white;
  scroll-behavior: smooth;
}
.icon{
  cursor: pointer;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
}
.loading {
  width: 100%;
}
.btn {
  transition: all 300ms ease-in;
}
.btn:hover {
  outline: 2px solid darkgrey;
}
@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
