.hero {
  position: absolute;
}
.hero > img {
  filter: blur(5px) brightness(50%);
}
.hero__text {
  position: absolute;
  top: 100px;
  left: 30%;
  margin: auto;
}
.hero__text > h1 {
  text-align: center;
  font-size: 8vw;
}
