.hero {
  position: relative;
  max-height: 500px;
}
.hero > img {
  filter: brightness(50%) blur(2px);
}
.hero__text {
  position: absolute;
  top: 40%;
  left: 25%;
  margin: auto;
}
.hero__text > h1 {
  text-align: center;
  font-size: 10vw;
}
